.player-content {
  margin: 50px;
  padding: 50px;
  text-align: center;
  transition: transform .2s; /* Animation */
  position: relative;

  &:hover:not(.disabled):not(.has-chosen) {
    cursor: pointer;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  &.disabled::after {
    position: absolute;
    content: "Taken";
    background-color: rgba(52, 52, 52, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
