<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="m-5">
    Welcome to {{ title }}!
  </h1>

  <h2 class="m-5" *ngIf="!chosenKey"> Who are you ? </h2>
  <h2 class="m-5" *ngIf="chosenKey === romainKey"> Welcome Romain ! </h2>
  <h2 class="m-5" *ngIf="chosenKey === sebKey"> Welcome Seb ! </h2>
  <div class="container-fluid">

    <!--Players-->
    <div class="row">
      <div class="col player-content" (click)="choosePlayer(romainKey)" [class.disabled]="game.romainReady" [class.has-chosen]="!!chosenKey">
        <h3>Romain</h3>
        <img src="../assets/images/romain.jpg" height="200px" class="rounded-circle">
      </div>
      <div class="col player-content" (click)="choosePlayer(sebKey)" [class.disabled]="game.sebReady" [class.has-chosen]="!!chosenKey">
        <h3>Seb</h3>
        <img src="../assets/images/seb.jpg" height="200px" class="rounded-circle">
      </div>
    </div>

  </div>

  <h2  *ngIf="timer">Starting in {{timer | number:'1.2-2'}}</h2>

</div>

<!-- FOOTER -->
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="col">
    <h4 *ngIf="delta">
      Delta : {{delta}}ms
    </h4>
  </div>
  <div class="col text-right">
    <h4 *ngIf="ping">
      Ping : {{ping}}ms
    </h4>
  </div>
</nav>
