<div class="container-fluid">
  <div>
    <h1>{{currentPlayer.name}}</h1>
  </div>
  <div class="text-center mt-10">
    <canvas id="myCanvas" width="400" height="400"></canvas>
  </div>
  <div *ngIf="!romain.score && !seb.score">
    <h2  [ngStyle]="{'background-color': currentPlayer.color}">FPS: {{fps}}</h2>
    <h2  [ngStyle]="{'background-color': currentPlayer.color}">Timer: {{timer | number:'1.2-2'}}</h2>
    <h2  [ngStyle]="{'background-color': currentPlayer.color}">Ping: {{ping}}</h2>
    <h2  [ngStyle]="{'background-color': currentPlayer.color}">Delta: {{delta}}</h2>
  </div>
  <div *ngIf="romain.score || seb.score">
    <h2>Romain : {{romain.score}}</h2>
    <h2>Seb : {{seb.score}}</h2>
  </div>
</div>
